<div class="container">
  <h2 class="mb-4 text-primary">📦 Historial de Backups</h2>

  <div class="table-responsive">
    <table class="table table-bordered table-hover align-middle shadow-sm">
      <thead class="table-dark">
        <tr>
          <th>Dispositivo</th>
          <th>IP</th>
          <th>Fecha</th>
          <th>Estado</th>
          <th>ssh</th>
          <th>Acción</th>
          <th>Backup</th>
        </tr>
      </thead>
      <tbody id="tabla-dispositivos">
        
      </tbody>
    </table>
  </div>
</div>
<script src="../../js/backups.js"></script>